body {
    background-color:gray;
}
.info {
    color:white;
    background-color:darkgray;
    padding:20px;
}
.videoarea {
    text-align:center;
}
.recomended a {
    display:flex;
    align-items:center;
    text-decoration:none;
}
.recomended img {
    width:200px;
    height:150px;
}
.recomended h1 {
    color:white;
    padding:10px;
}